/* src/App.css */

.App {
  text-align: center;
  padding: 3rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #74ebd5, #acb6e5);
  min-height: 100vh;
}

.weather-app {
  max-width: 600px;
  margin: auto;
  padding: 2rem;
  background-color: #ffff00;
  border-radius: 17px;
  box-shadow: 0 7px 20px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
}

.weather-app:hover {
  transform: scale(1.02);
}



button {
  padding: 0.75rem 1.5rem;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 9px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s;
}

button:hover {
  background-color: #28a745;
  transform: scale(1.05);
}


