/* src/App.css */

.App {
  text-align: center;
  padding: 20px;
}

.weather-app {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input {
  padding: 20px;
  width: 76%;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color:yellowgreen;
}

.weather-info {
  margin-top: 20px;
  text-align: left;
}

.weather-info h2 {
  margin-bottom: 10px;
}
